{% load static %}


<style type='text/css'>

.post{
    border-style:solid;
    border-radius: 20px;
    border-color:#76787f;
    background: #76787f;
    width: 50%;
    padding: 20px;
    margin: auto;
    margin-bottom:20px;
   	margin-top:20px
}


body {
    font-family: Sans-serif
}

</style>

<!DOCKTYPE HTML>
<html>
<head>
{% if title %}
    <title>{{ title }}</title>
{% else %}
    <title>BooleanBean</title>
{% endif %}
</head>
	<body>
		{% include 'navbar.html' %}
		{% block content%}
			Replace me
		{% endblock%}
	</body>
</html>