{% load static %}
<link rel="icon" href="{{ STATIC_URL }}images/favicon.ico" /> 

<style type='text/css'>

.post{
    border-style: 1px solid;
    border-radius: 20px;
    border-color:#76787f;
    background: #FFFF;
    width: 50%;
    padding: 20px;
    margin: auto;
    margin-bottom:20px;
   	margin-top:20px
}


body {
    font-family: Sans-serif;
    background: #DAE3E7;
}

</style>

<!DOCKTYPE HTML>
<html>
<head>
{% if title %}
    <title>{{ title }}</title>
{% else %}
    <title>BooleanBean</title>
{% endif %}
</head>
	<body>
		{% include 'navbar.html' %}
		{% block content%}
			Replace me
		{% endblock%}
	</body>
</html>